import('qeML')
import('regtools')
import('gtools')
import('ranger')

export(
   getSuggestedLib,
   dsldFreqPCoord,
   dsldTakeALookAround, dsldConditDisparity, dsldUtilFairness,
   dsldScatterPlot3D,
   dsldLinear, dsldLogit, dsldGetData, dsldDiffSLog, dsldGetRow5, dsldDiffSLin,
   dsldConfounders, dsldDensityByS, dsldFrequencyByS,
   dsldFgrrm, dsldFrrm, dsldNclm, dsldZlm, dsldZlrm,
   dsldQeFairRidgeLin, dsldQeFairRF, dsldQeFairRidgeLog, dsldQeFairKNN, 
   dsldML, dsldCHunting, dsldOHunting
)

S3method(summary, dsldLM)
S3method(coef, dsldLM)
S3method(vcov, dsldLM)
S3method(predict, dsldLM)

S3method(summary, dsldGLM)
S3method(coef, dsldGLM)
S3method(vcov, dsldGLM)
S3method(predict, dsldGLM)

S3method(predict, dsldFairML)
S3method(summary, dsldFairML)

S3method(predict, dsldQeFair)
