import('qeML')
import('regtools')
import('gtools')

export(
   getSuggestedLib,dsldFreqPCoord,dsldTakeALookAround,dsldConditDisparity,dsldScatterPlot3D, dsldLinear, dsldGetData, dsldValidateData, dsldDiffS, dsldLogit, dsldDensityByS, dsldConfounders,
   dsldFgrrm, dsldFrrm, dsldNclm, dsldQeFairRidgeLin, dsldQeFairRF
)

S3method(summary,dsldLM)
S3method(coef,dsldLM)
S3method(vcov,dsldLM)

S3method(summary,dsldGLM)
S3method(coef,dsldGLM)
S3method(vcov,dsldGLM)

S3method(predict, dsldQeFairRidgeLin)
S3method(predict, dsldQeFairRF)



